<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FromPath" value="D:\wamp\www\templates\metroadmin\HTML"/>
		<add key="ToPath" value="D:\wamp\www\templates\metroadmin\source"/>
		<add key="FromExt" value=".html"/>
		<add key="ToExt" value=".php"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
