@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
@import "bootstrap-metro.css";
@import "font-awesome.min.css";
@import "icheck-minimal.css";
@import "icheck-square.css";
@import "chosen.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-border {
	border: 0 !important;
}
.separator-left {
	margin-left: 5px;
}
.separator-right {
	margin-right: 5px;
}
/* main-bar */
.main-bar {
	margin-left: 200px;
}
/* side bar */
.side-bar {
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #F3F3F3;
}
.side-bar .accordion-group {
	border: 0;
	border-radius: 0;
}
.side-bar .accordion-inner {
	border-top: 0;
	padding: 0;
}
.side-bar .accordion-toggle, .side-bar .accordion-inner a {
	color: inherit;
}
.side-bar .accordion-toggle {
	font-size: 14px;
}
.side-bar .accordion-group {
	margin-bottom: 0;
}
.side-bar .accordion-body ul {
	padding: 0;
	margin: 0;
	display: block;
}
.side-bar .accordion-body ul li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.side-bar .accordion-body ul li a {
	padding: 10px;
	display: block;
	padding: 10px 20px;
}
.side-bar .accordion a:hover {
	text-decoration: none;
}
.side-bar .accordion-toggle.collapsed .icon-chevron-right, .side-bar .accordion-toggle .icon-chevron-right {
	margin-right: 5px;
}
.side-bar .accordion-toggle .icon-chevron-right:before {
	content: "\f078";
}
.side-bar .accordion-toggle.collapsed .icon-chevron-right:before {
	content: "\f054";
}
/* box */
.box {
	margin: 0 0 20px 0;
}
.box-title {
	border-bottom: 1px solid #D5D5D5;
	padding: 20px 0;
	color: #444444;
}
.box-title:after {
	clear: both;
	content: "";
	display: table;
}
.box-title h4 {
	margin: 0;
}
.box-title h4 i {
	margin: 0 10px 0 0;
}
.box-content {
	background: #fff;
}
.box-content form {
	margin-top: 10px;
}
.box.box-bordered .box-title, .box.box-bordered .box-content {
	border: 1px solid #D5D5D5;
	padding: 20px;
}
.box.box-bordered .box-title {
	padding: 10px;
}
.box.box-bordered .box-content {
	border-top: 0;
}
.box.box-bordered form {
	margin: 0;
}
.box-content.no-padding .form-vertical.form-bordered.form-striped .form-actions {
	padding: 0 20px;
}
.box.box-bordered .table {
	margin-bottom: 0;
}
/* blue box */
.blue.box-bordered .box-title, .blue.box-bordered .box-content {
	border: 1px solid #2672EC;
}
.blue .box-title {
	background-color: #2672EC;
	color: #fff;
}
/* red box */
.red.box-bordered .box-title, .red.box-bordered .box-content {
	border: 1px solid #E0453F;
}
.red .box-title {
	background-color: #E0453F;
	color: #fff;
}
/* login box */
.login-box {
	margin: 0 auto;
	margin-top: 150px;
	float: none;
}
.login-box .link {
	color: #1372CB;
}
/* icheck */
.radio [class*="iradio_"], .checkbox [class*="icheckbox_"] {
	float: left;
	margin-left: -30px;
}
[class*=".iradio_"] input[type="radio"], [class*=".icheckbox_"] input[type="checkbox"] {
	margin-left: 0;
}
.icheck-label {
	padding-left: 30px;
	min-height: 25px;
}
/* chosen */
.chzn-container {
	display: block;
}
.chzn-container-multi .chzn-choices .search-field .default {
	width: 100%;
}
.chzn-container-single .chzn-single {
	background: #fff;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	padding: 2px 0 2px 8px;
}
.chzn-container-multi .chzn-choices {
	background: #fff;
	border-radius: 0;
	box-shadow: none;
	filter: none;
}
.chzn-container-multi .chzn-choices .search-choice {
	background: #F5F5F5;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	margin: 5px 0 5px 5px;
}
.chzn-container-single .chzn-single div {
	background-color: #F5F5F5;
	border-left: 1px solid #AAAAAA;
	padding: 3px 2px 0 8px;
}
.chzn-container-single .chzn-search input {
	background: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 0;
	-moz-box-sizing: border-box;
	width: 100%;
	min-height: 30px;
	margin-bottom: 0px;
}
.chzn-container .chzn-results .highlighted {
	background: #0F70CB;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	color: #fff;
}
.chzn-container .chzn-results {
	margin: 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 5px 10px;
	white-space: nowrap;
}
.chzn-container-single .chzn-drop {
	margin-top: 0;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #97AEDE;
}
.chzn-container .chzn-drop {
	box-shadow: none;
	filter: none;
	border-radius: 0;
	border: 1px solid #97AEDE;
	border-top: 0;
}
.chzn-container-single .chzn-single abbr {
	right: 35px;
	top: 8px;
}

/* colors */
.white {
	color: #fff !important;
}
.pink {
	color: #DC4FAD !important;
}
.dark-red {
	color: #AC193D !important;
}
.dark-orange {
	color: #D24726 !important;
}
.orange {
	color: #FF8F32 !important;
}
.light-green {
	color: #82BA00 !important;
}
.green {
	color: #008A17 !important;
}
.light-teal {
	color: #03B3B2 !important;
}
.teal {
	color: #008299 !important;
}
.dark-blue {
	color: #001940 !important;
}
.light-blue {
	color: #5DB2FF !important;
}
.blue {
	color: #0072C6 !important;
}
.dark-purple {
	color: #4617B4 !important;
}
.purple {
	color: #8C0095 !important;
}
.dark-cardovan {
	color: #380000 !important;
}
.cardovan {
	color: #570000 !important;
}
.grey {
	color: #585858 !important;
}
.black {
	color: #000000 !important;
}
/* background colors */
.bg-pink {
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
	cursor: default;
}
.bg-white {
	background: #fff !important;
}
.bg-pink {
	background: #DC4FAD !important;
}
.bg-dark-red {
	background: #AC193D !important;
}
.bg-dark-orange {
	background: #D24726 !important;
}
.bg-orange {
	background: #FF8F32 !important;
}
.bg-light-green {
	background: #82BA00 !important;
}
.bg-green {
	background: #008A17 !important;
}
.bg-light-teal {
	background: #03B3B2 !important;
}
.bg-teal {
	background: #008299 !important;
}
.bg-dark-blue {
	background: #001940 !important;
}
.bg-light-blue {
	background: #5DB2FF !important;
}
.bg-blue {
	background: #0072C6 !important;
}
.bg-dark-purple {
	background: #4617B4 !important;
}
.bg-purple {
	background: #8C0095 !important;
}
.bg-dark-cardovan {
	background: #380000 !important;
}
.bg-cardovan {
	background: #570000 !important;
}
.bg-grey {
	background: #585858 !important;
}
.bg-black {
	background: #000000 !important;
}
/* responsive */
@media (max-width: 767px) {
}
@media (max-width: 979px) {
	/* login box */
	.login-box {
		margin-top: 80px;
	}
}
