@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
@import "bootstrap-fileupload.css";
@import "wysiwyg-color.css";
@import "bootstrap-wysihtml5.css";
@import "font-awesome.min.css";
@import "icheck-minimal.css";
@import "icheck-square.css";
@import "chosen.css";
@import "bootstrap-datepicker.css";
@import "bootstrap-metro.css";
body {
	background: #191818;
	margin-top:40px;
}
/* topbar */
.topbar .navbar-inner {
	background: #570000;
	color:#fff;
}
/* brand */
.navbar-inverse .brand {
	color: #fff;
	font-weight: 400;
	margin: 0;
	padding: 10px 0 0 0;
}
/* mainbar */
#mainbar {
	margin-left: 250px;
	background-color:#fff;
}
/* side bar */
#sidebar {
	width: 250px;
	position: absolute;
	top: 40px;
	bottom: 0;
}
#sidebar .search {
	margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#sidebar .search .input-icon {
	display: block;
}
#sidebar .accordion-group {
	border: 0;
	border-radius: 0;
}
#sidebar .accordion-inner {
	border-top: 0;
	padding: 0;
}
#sidebar .accordion-toggle, #sidebar .accordion-inner a {
	color: inherit;
}
#sidebar .accordion-toggle {
	font-size: 14px;
	padding: 8px 0 8px 20px;
	margin: 0;
	color: #C2C2C2;
}
#sidebar .accordion-toggle.open {
	background: #E81123;
	color:#fff;
}
#sidebar .accordion-toggle:focus {
	border: 0;
	text-decoration: none;
	outline: none;
}
#sidebar .accordion-toggle:hover:before, #sidebar .accordion-toggle.open:before {
	position: absolute;
	right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}
#sidebar .accordion-toggle:hover:before {
	content: "\f105";
}
#sidebar .accordion-toggle.open:hover:before, #sidebar .accordion-toggle.open:before {
	content: "\f107";
}
#sidebar .accordion-toggle [class^="icon-"], #sidebar .accordion-toggle [class*=" icon-"] {
	padding-right: 5px;
	color: #C2C2C2;
}
#sidebar .accordion-toggle.active [class^="icon-"] {
	color: #fff;
}
#sidebar .accordion-group {
	   border-bottom: 1px solid #444444;
    margin-bottom: 0;
}
#sidebar .accordion-body ul {
	padding: 0;
	margin: 0;
	display: block;
}
#sidebar .accordion-body ul li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
#sidebar .accordion-body ul li a {
	display: block;
	padding: 8px 8px 8px 40px;
	font-size: 14px;
	color: #C2C2C2;
}
#sidebar .accordion-toggle:hover, #sidebar .accordion-toggle.active, #sidebar .accordion-body ul li a:hover, #sidebar .accordion-body ul li a.active {
	background: #4D90FE;
	color: #fff;
}
#sidebar .accordion a:hover {
	text-decoration: none;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-border {
	border: 0 !important;
}
.no-wrap {
	white-space: nowrap !important;
}
/* cutter */
.cutter-left {
	padding-left: 10px;
}
.cutter-right {
	padding-right: 10px;
}
.cutter-top {
	padding-top: 10px;
}
.cutter-bottom {
	padding-bottom: 10px;
}
/* topbar */
.topbar h3, .topbar h4 {
	margin: 0;
	padding: 0;
}
.topbar .navbar-inner {
	margin: 0;
	padding: 0;
}
.topbar.navbar {
	margin-bottom: 10px;
}
/* user-info */
.user-info {
	display: block;
	padding-bottom: 5px;
}
.user-info:hover {
	background: #4D90FE;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.user-info .info-block {
	float: left;
	margin-left: 10px;
}
.user-info:after {
	clear: both;
}
.user-img {
	height: 50px;
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
	width: 50px;
}
.user-info .vr-separator {
	background-color: #7B7B7B;
	border: 0 none;
	display: inline-block;
	height: 28px;
	margin-top: 5px;
	padding: 0;
	vertical-align: top;
	width: 1px;
}
.user-info [class^="icon-"], .user-info [class*=" icon-"] {
	font-size: 32px;
}
/* page-header */
.page-header {
	margin: 10px 0;
	padding: 0;
}
.page-header h1 {
	font-size: 25px;
	font-weight: 400;
	margin: 5px 0;
}
/* box */
.box {
	margin: 0 0 20px 0;
}
.box-title {
	border-bottom: 1px solid #D5D5D5;
	padding: 10px 0;
}
.box-title:after {
	clear: both;
	content: "";
	display: table;
}
.box-title h4 {
	margin: 0;
}
.box-title h4 i {
	margin: 0 10px 0 0;
}
.box-content {
	background: #fff;
}
.box-content form {
	margin-top: 10px;
}
.box.box-bordered .box-title, .box.box-bordered .box-content {
	border: 1px solid #D5D5D5;
	padding: 20px;
}
.box.box-bordered .box-title {
	padding: 10px;
}
.box.box-bordered .box-content {
	border-top: 0;
}
.box.box-bordered form {
	margin: 0;
}
.box-content.no-padding .form-vertical.form-bordered.form-striped .form-actions {
	padding: 0 20px;
}
.box.box-bordered .table {
	margin-bottom: 0;
}
/* winbox */

/* blue box */
.blue.box-bordered .box-title, .blue.box-bordered .box-content {
	border: 1px solid #4D90FE;
}
.blue .box-title {
	background-color: #4D90FE;
	color: #fff;
}
/* red box */
.red.box-bordered .box-title, .red.box-bordered .box-content {
	border: 1px solid #E0453F;
}
.red .box-title {
	background-color: #E0453F;
	color: #fff;
}
/* login box */
.login-box {
	margin: 0 auto;
	margin-top: 150px;
	float: none;
}
.login-box .link {
	color: #1372CB;
}
/* icheck */
.radio [class*="iradio_"], .checkbox [class*="icheckbox_"] {
	float: left;
	margin-left: -30px;
}
[class*=".iradio_"] input[type="radio"], [class*=".icheckbox_"] input[type="checkbox"] {
	margin-left: 0;
}
.icheck-label {
	padding-left: 30px;
	min-height: 25px;
}
/* chosen */
.chzn-container {
	display: block;
}
.chzn-container-multi .chzn-choices .search-field .default {
	width: 100%;
}
.chzn-container-single .chzn-single {
	background: #fff;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	padding: 2px 0 2px 8px;
}
.chzn-container-multi .chzn-choices {
	background: #fff;
	border-radius: 0;
	box-shadow: none;
	filter: none;
}
.chzn-container-multi .chzn-choices .search-choice {
	background: #C2C2C2;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	margin: 5px 0 5px 5px;
}
.chzn-container-single .chzn-single div {
	background-color: #C2C2C2;
	border-left: 1px solid #AAAAAA;
	padding: 3px 2px 0 8px;
}
.chzn-container-single .chzn-search input {
	background: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 0;
	-moz-box-sizing: border-box;
	width: 100%;
	min-height: 30px;
	margin-bottom: 0px;
}
.chzn-container .chzn-results .highlighted {
	background: #0F70CB;
	border-radius: 0;
	box-shadow: none;
	filter: none;
	color: #fff;
}
.chzn-container .chzn-results {
	margin: 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 20px;
	padding: 5px 10px;
	white-space: nowrap;
}
.chzn-container-single .chzn-drop {
	margin-top: 0;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #97AEDE;
}
.chzn-container .chzn-drop {
	box-shadow: none;
	filter: none;
	border-radius: 0;
	border: 1px solid #97AEDE;
	border-top: 0;
}
.chzn-container-single .chzn-single abbr {
	right: 35px;
	top: 8px;
}

/* responsive */
@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	#sidebar {
		display: none;
		float: none;
		height: auto !important;
		position: relative;
		width: auto;
	}
	#sidebar.show {
		display: block;
	}
	#sidebar .accordion {
		margin-bottom: 0;
	}
	#sidebar .search h3 {
		margin-top: 0;
	}
	#mainbar  {
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 979px) {
	/* login box */
	.login-box {
		margin-top: 80px;
	}
}
