.fcheck {
	margin-right: 8px;
}
.checkbox .fcheck, .radio .fcheck {
	margin-left: -20px;
}
.checkbox-inline .fcheck, .radio-inline .fcheck {
	margin-left: -20px;
}
.fcheck input {
	display: none; margin-top:10px;
}
.fcheck a,.fcheck a:hover,.fcheck a:focus {
	text-decoration: none;  outline: none;
}
.fcheck i {
    background-color: #FFFFFF;
    border-color: #808080;
	color: #808080;
    border-style: solid;
    border-width: 1px;
    height: 18px;
    margin: 0 !important;
    min-height: 0;
    padding: 0 !important;
    position: relative;
    top: -0.1em;
    width: 18px;
}
.fcheck i.radio {
	border-radius: 100%;
}
.fcheck i:before {
    font-size: 14px;
    line-height: 14px;
    margin-top: -7px;
	left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
	display: inline-block;
    text-decoration: inherit;
}
.fcheck i.radio:before {
	font-size:12px;
}
.fcheck i.disabled {
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor: not-allowed;
}
.fcheck i.radio {
	border-radius:100%;
}
/* colors */
.fcheck i.blue {
	color:#0072C6;
	border-color:#0072C6;
}
.fcheck i.square.fa-check.blue {
	color:#fff;
	background-color:#0072C6;
}
.fcheck i.red {
	color:#E81123;
	border-color:#E81123;
}
.fcheck i.square.fa-check.red {
	color:#fff;
	background-color:#E81123;
}
.fcheck i.orange {
	color:#FF8F32;
	border-color:#FF8F32;
}
.fcheck i.square.fa-check.orange {
	color:#fff;
	background-color:#FF8F32;
}
.fcheck i.purple {
	color:#4617B4;
	border-color:#4617B4;
}
.fcheck i.square.fa-check.purple {
	color:#fff;
	background-color:#4617B4;
}
.fcheck i.green {
	color:#008A17;
	border-color:#008A17;
}
.fcheck i.square.fa-check.green {
	color:#fff;
	background-color:#008A17;
}
.fcheck i.skyblue {
	color:#007FFF;
	border-color:#007FFF;
}
.fcheck i.square.fa-check.skyblue {
	color:#fff;
	background-color:#007FFF;
}
.fcheck i.grey {
	color:#808080;
	border-color:#808080;
}
.fcheck i.square.fa-check.grey {
	color:#fff;
	background-color:#808080;
} 
/* bootstrap */
.input-group-addon .fcheck {
	margin-right:0;
} 