/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,300italic,400italic,700,600italic,700italic,800,800italic);*/
@import "icon-metro.css";
@import "tile.css";
html,body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans' , Helvetica, Arial, sans-serif;
}
body {
	font-size: 13px;
	background-color: #2E2E2E !important;
	margin-top: 0;
}
*, *:focus, *:hover {
	outline: none !important;
}
.page-fluid .container {
	max-width: none;
	width: auto;
}
.page-fluid .page-container.container {
	padding-left:0;
	padding-right:0;
}
.page-fluid .page-container {
	border-bottom: 0;
    border-left: 0;
}
.page-container.container {
	padding-left:0;
	padding-right:0;
}
.page-container {
	background-color: #222222;
}
a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
label {
	font-weight: normal;
}
/* btn */
.btn {
	border-radius: 0 !important;
	border-color: transparent;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	outline: 0;
}
.btn-default {
	background: #fff;
	color: #000;
	border-color:#ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
}
.btn-danger {
	background: #d84a38;
	color: #fff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	background: #c53727;
	color: #fff;
}
.btn-primary {
	background: #2E7EFC;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background: #0D69FC;
	color: #fff;
}
.btn-success {
	background: #35aa47;
	color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	background: #1d943b;
	color: #fff;
}
.btn-purple {
	background: #852b99;
	color: #fff;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
	background: #6d1b81;
	color: #fff;
}
.btn-pink {
	background: #DC4FAD;
	color: #fff;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
	background: #C24598;
	color: #fff;
}
.btn-teal {
	background: #008299;
	color: #fff;
}
.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active,
.open .dropdown-toggle.btn-teal {
	background: #016F82;
	color: #fff;
}
.btn-cardovan {
	background: #570000;
	color: #fff;
}
.btn-cardovan:hover,
.btn-cardovan:focus,
.btn-cardovan:active,
.btn-cardovan.active,
.open .dropdown-toggle.btn-cardovan {
	background: #380000;
	color: #fff;
}
.btn-inverse {
	background: #555555;
	color: #fff;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
	background: #222222;
	color: #fff;
}
.btn-info {
	background: #49AFCD;
	color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	background: #2F96B4;
	color: #fff;
}
.btn-warning {
	background: #FAA732;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	background: #F89406;
	color: #fff;
}
.btn-primary .caret, 
.btn-warning .caret, 
.btn-danger .caret, 
.btn-info .caret, 
.btn-success .caret, 
.btn-inverse .caret, 
.btn-purple .caret, 
.btn-pink .caret, 
.btn-teal .caret, 
.btn-cardovan .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
/* btn-group */
.btn-group .btn, .btn-group-vertical .btn, .input-group-btn > .btn {
	border-width:1px !important;
}
/* .input-group-addon */
.input-group-addon,.input-group-lg > .form-control, .input-group-lg > .input-group-addon
,.input-group-lg > .input-group-btn > .btn  
,.nav-tabs > li > a,.nav-pills > li > a
,.nav-tabs.nav-justified > li > a
{
	border-radius:0;
}
/* input-sizes */
.input-mini {
  width: 60px !important;
}
.input-small {
  width: 90px !important;
}
.input-medium {
  width: 150px !important;
}
.input-large {
  width: 210px !important;
}
.input-xlarge {
  width: 270px !important;
}
.input-xxlarge {
  width: 530px !important;
}
/* table */
.table thead > tr > th {
	border-bottom: 0;
}
/* nav-pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #2E7EFC;
}
/* thumbnail */
.thumbnail, .img-thumbnail {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}
/* dropdown-menu */
.dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: none;
	-moz-background-clip: none;
	background-clip: none;
}
.dropdown-checkboxes {
	 padding: 5px 10px; color:#333;
}
.dropdown-checkboxes .checkbox,.dropdown-checkboxes .radio {
	font-size: 13px;
    margin: 10px 0;
}
.dropdown-menu {
	margin-top: 0;
	border: 2px solid #dcdcdc;
}
.dropdown-menu.primary {
	border: solid 2px #0072bb;
}
.dropdown-menu.success {
	border: solid 2px #1d943b;
}
.dropdown-menu.purple {
	border: solid 2px #6d1b81;
}
.dropdown-menu.pink {
	border: solid 2px #C24598;
}
.dropdown-menu.cardovan {
	border: solid 2px #380000;
}
.dropdown-menu.teal {
	border: solid 2px #016F82;
}
.dropdown-menu.inverse {
	border: solid 2px #222222;
}
.dropdown-menu.danger {
	border: solid 2px #c53727;
}
.dropdown-menu.info {
	border: solid 2px #2F96B4;
}
.dropdown-menu.warning {
	border: solid 2px #F89406;
}
.dropdown-menu li > a {
    font-weight: normal;
    line-height: 18px;
    padding: 5px 13px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	background: #2E7EFC;
	color: #fff;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0;
}
.dropdown-submenu > a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
/* navbar */
.navbar {
	background-image: none;
	border-radius: 0;
	filter: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar .navbar-nav > .active > a {
	background-color: #f8f8f8;
}
.navbar-brand, .navbar-nav > li > a {
	text-shadow: none;
}
.navbar-inverse {
	background-image: none;
	filter: none;
}
.navbar-inverse .navbar-nav > .active > a {
	background-color: #222222;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow: none;
}
.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	border-radius: 0;
}
/* progress */
.progress {
	background-image: none;
	filter: none;
}
.progress-bar {
	background-image: none;
	filter: none;
}
.progress-bar-success {
	background-image: none;
	filter: none;
}
.progress-bar-info {
	background-image: none;
	filter: none;
}
.progress-bar-warning {
	background-image: none;
	filter: none;
}
.progress-bar-danger {
	background-image: none;
	filter: none;
}
/* list-group */
.list-group {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	text-shadow: none;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #3278b3;
	filter: none;
}
/* panel */
.panel {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-heading {
	border-radius: 0;
}
.panel-heading,.panel-body {
	padding:10px;
}
.panel-default > .panel-heading {
	background-image: none;
	filter: none;
}
.panel-primary {
  border-color: #0072C6;
}
.panel-primary > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #0072C6;
	border-color: #0072C6;
	color:#fff;
}
.panel-success {
  border-color: #35aa47;
}
.panel-success > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #35aa47;
	border-color: #35aa47;
	color:#fff;
}
.panel-info {
  border-color: #49AFCD;
}
.panel-info > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #49AFCD;
	border-color: #49AFCD;
	color:#fff;
}
.panel-warning {
	border-color: #FAA732;
}
.panel-warning > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #FAA732;
	border-color: #FAA732;
	color:#fff;
}
.panel-danger {
	border-color: #d84a38;
}
.panel-danger > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #d84a38;
	border-color: #d84a38;
	color:#fff;
}
.panel-skyblue {
	border-color: #2E7EFC;
}
.panel-skyblue > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #2E7EFC;
	border-color: #2E7EFC;
	color:#fff;
}
.panel-pink {
	border-color: #DC4FAD;
}
.panel-pink > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #DC4FAD;
	border-color: #DC4FAD;
	color:#fff;
}
.panel-purple {
	border-color: #8C0095;
}
.panel-purple > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #8C0095;
	border-color: #8C0095;
	color:#fff;
}
.panel-teal {
	border-color: #008299;
}
.panel-teal > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #008299;
	border-color: #008299;
	color:#fff;
}
.panel-cardovan {
	border-color: #570000;
}
.panel-cardovan > .panel-heading {
	background-image: none;
	filter: none;
	background-color: #570000;
	border-color: #570000;
	color:#fff;
}
.panel.panel-tools > .panel-heading > .panel-title {
	display: inline-block;
}
.panel.panel-tools > .panel-heading > .panel-btn-group {
	float:right;
	color:inherit;
}
.panel.panel-tools > .panel-heading:before,
.panel.panel-tools > .panel-heading:after 
{
	content: "";
    display: table;
    line-height: 0;
}
.panel.panel-tools > .panel-heading > .panel-btn-group > a {
	color: inherit;
    display: inline-block;
    line-height: 0;
    margin: 0 0 0 10px;
    padding: 0;
	cursor: pointer;
}
.panel-btn-group .btn-group {
	margin-left:10px;
}
.panel-btn-group > a > .fa {
	font-size:14px; color:#fff;
} 
.panel-btn-group > a.expand .fa-angle-down:before {
	content: "\f106"; 
}
.panel.panel-tools > .panel-heading > .panel-btn-group > .remove {
	color: inherit;
    float: right;
    font-size: 22px;
    font-weight: normal;
    line-height: 0;
    text-shadow: none;
	margin-top:8px; color:#fff;
}
.panel .panel-title [class^="fa fa-"], .panel .panel-title [class*=" icon-"] {
	margin-right: 5px;
}
.panel-default .panel-btn-group > a > .fa, .panel-default.panel-tools > .panel-heading > .panel-btn-group > .remove { color:#333; }
.panel-btn-group .btn {
	margin-top: -2px;
}
/* well */
.well {
	background-image: none;
	border-color: #dcdcdc;
	filter: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* caret */
.caret-white {
	border-bottom-color: #fff;
	border-top-color: #fff;
}
/* form-control */
.form-control {
	padding: 4px 6px;
}
/* input */
textarea.form-control, input.form-control, select.form-control, .uneditable-input {
	border: 1px solid #cccccc;
	border-radius: 0;
	color: #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	outline: 0;
}
textarea.form-control:focus, input.form-control:focus, select.form-control:focus, .uneditable-input:focus {
	border: 1px solid #2672EC;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
}
/* form */
.form-striped .form-group {
	margin-left: 0;
	margin-right: 0;
	padding: 15px 0;
}
.form-striped .form-group:last-child {
	border-bottom: 0px;
}
.form-striped .form-group:nth-child(2n+1) {
	background: #fcfcfc;
}
.form-striped .form-group, .form-bordered .form-group {
	margin-bottom: 0;
}
.form-bordered .form-group {
	border-bottom: 1px solid #DDDDDD;
}
/* alert */
.alert {
	background: #FFFE7E;
	border-color: #fff;
	border-radius:0;
	padding:10px;
}
.alert, .alert h4 {
	color: #000;
}
.alert-danger, .alert-error {
	background: #E81123;
	color: #fff;
}
.alert-success {
	background: #008A17;
	color: #fff;
}
.alert-info {
	background: #2E7EFC;
	color: #fff;
}
.alert .close {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.alert .close:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.alert-danger .close, .alert-error .close, .alert-success .close, .alert-info .close {
	color: #fff;
}
/* color */
.fg-white {
	color: #fff !important;
}
.fg-pink {
	color: #DC4FAD !important;
}
.fg-red {
	color: #E81123 !important;
}
.fg-dark-red {
	color: #AC193D !important;
}
.fg-dark-orange {
	color: #D24726 !important;
}
.fg-orange {
	color: #FF8F32 !important;
}
.fg-light-green {
	color: #82BA00 !important;
}
.fg-green {
	color: #008A17 !important;
}
.fg-light-teal {
	color: #03B3B2 !important;
}
.fg-teal {
	color: #008299 !important;
}
.fg-light-blue {
	color: #5DB2FF !important;
}
.fg-blue {
	color: #0072C6 !important;
}
.fg-dark-blue {
	color: #001940 !important;
}
.fg-dark-purple {
	color: #4617B4 !important;
}
.fg-purple {
	color: #8C0095 !important;
}
.fg-cardovan {
	color: #570000 !important;
}
.fg-dark-cardovan {
	color: #380000 !important;
}
.fg-grey {
	color: #585858 !important;
}
.fg-black {
	color: #000000 !important;
}
.bg-white {
	background: #fff !important;
}
.bg-pink {
	background: #DC4FAD !important;
}
.bg-red {
	background: #E81123 !important;
}
.bg-dark-red {
	background: #AC193D !important;
}
.bg-dark-orange {
	background: #D24726 !important;
}
.bg-orange {
	background: #FF8F32 !important;
}
.bg-light-green {
	background: #82BA00 !important;
}
.bg-green {
	background: #008A17 !important;
}
.bg-light-teal {
	background: #03B3B2 !important;
}
.bg-teal {
	background: #008299 !important;
}
.bg-light-blue {
	background: #5DB2FF !important;
}
.bg-blue {
	background: #0072C6 !important;
}
.bg-dark-blue {
	background: #001940 !important;
}
.bg-skyblue {
	background: #2E7EFC !important;
}
.bg-dark-purple {
	background: #4617B4 !important;
}
.bg-purple {
	background: #8C0095 !important;
}
.bg-cardovan {
	background: #570000 !important;
}
.bg-dark-cardovan {
	background: #380000 !important;
}
.bg-grey {
	background: #585858 !important;
}
.bg-black {
	background: #000000 !important;
}
.bg-white .arrow-left {
	border-right: 8px solid #fff !important;
}
.bg-pink .arrow-left {
	border-right: 8px solid #DC4FAD !important;
}
.bg-red .arrow-left {
	border-right: 8px solid #E81123 !important;
}
.bg-dark-red .arrow-left {
	border-right: 8px solid #AC193D !important;
}
.bg-dark-orange .arrow-left {
	border-right: 8px solid #D24726 !important;
}
.bg-orange .arrow-left {
	border-right: 8px solid #FF8F32 !important;
}
.bg-light-green .arrow-left {
	border-right: 8px solid #82BA00 !important;
}
.bg-green .arrow-left {
	border-right: 8px solid #008A17 !important;
}
.bg-light-teal .arrow-left {
	border-right: 8px solid #03B3B2 !important;
}
.bg-teal .arrow-left {
	border-right: 8px solid #008299 !important;
}
.bg-light-blue .arrow-left {
	border-right: 8px solid #5DB2FF !important;
}
.bg-blue .arrow-left {
	border-right: 8px solid #0072C6 !important;
}
.bg-dark-blue .arrow-left {
	border-right: 8px solid #001940 !important;
}
.bg-skyblue .arrow-left {
	border-right: 8px solid #2E7EFC !important;
}
.bg-dark-purple .arrow-left {
	border-right: 8px solid #4617B4 !important;
}
.bg-purple .arrow-left {
	border-right: 8px solid #8C0095 !important;
}
.bg-cardovan .arrow-left {
	border-right: 8px solid #570000 !important;
}
.bg-dark-cardovan .arrow-left {
	border-right: 8px solid #380000 !important;
}
.bg-grey .arrow-left {
	border-right: 8px solid #585858 !important;
}
.bg-black .arrow-left {
	border-right: 8px solid #000000 !important;
}
.bg-white .arrow-right {
	border-left: 8px solid #fff !important;
}
.bg-pink .arrow-right {
	border-left: 8px solid #DC4FAD !important;
}
.bg-red .arrow-right {
	border-left: 8px solid #E81123 !important;
}
.bg-dark-red .arrow-right {
	border-left: 8px solid #AC193D !important;
}
.bg-dark-orange .arrow-right {
	border-left: 8px solid #D24726 !important;
}
.bg-orange .arrow-right {
	border-left: 8px solid #FF8F32 !important;
}
.bg-light-green .arrow-right {
	border-left: 8px solid #82BA00 !important;
}
.bg-green .arrow-right {
	border-left: 8px solid #008A17 !important;
}
.bg-light-teal .arrow-right {
	border-left: 8px solid #03B3B2 !important;
}
.bg-teal .arrow-right {
	border-left: 8px solid #008299 !important;
}
.bg-light-blue .arrow-right {
	border-left: 8px solid #5DB2FF !important;
}
.bg-blue .arrow-right {
	border-left: 8px solid #0072C6 !important;
}
.bg-dark-blue .arrow-right {
	border-left: 8px solid #001940 !important;
}
.bg-skyblue .arrow-right {
	border-left: 8px solid #2E7EFC !important;
}
.bg-dark-purple .arrow-right {
	border-left: 8px solid #4617B4 !important;
}
.bg-purple .arrow-right {
	border-left: 8px solid #8C0095 !important;
}
.bg-cardovan .arrow-right {
	border-left: 8px solid #570000 !important;
}
.bg-dark-cardovan .arrow-right {
	border-left: 8px solid #380000 !important;
}
.bg-grey .arrow-right {
	border-left: 8px solid #585858 !important;
}
.bg-black .arrow-right {
	border-left: 8px solid #000000 !important;
}
/* popover */
.popover { 
	border-radius:0;
}
.popover.error {
	background-color: #E65858;
	color: #FFFFFF;
	left: 0 !important;
	position: relative;
	top: 0 !important;
	z-index: 0;
}
.popover.error.right .arrow:after {
	border-right-color: #E65858;
}
.popover.error.left .arrow:after {
	border-left-color: #E65858;
}
.popover.error.top .arrow:after {
	border-left-color: #E65858;
}
.popover.error .popover-content {
	padding: 3px 5px;
}
.popover-confirm .popover-content {
	text-align: center;
}
/* breadcrumb */
.breadcrumb {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	padding: 10px;
}
.breadcrumb a {
	color: #000;
}
.breadcrumb > li + li:before {
	content: "";
	padding: 0;
}
.breadcrumb > li > .fa-angle-right {
	margin: 0 5px;
}
.breadcrumb > li > a {
	margin: 0;
	padding: 0;
}
.breadcrumb > li > a .icon-remove {
	opacity: 0.5;
	filter: alpha(opacity:50);
}
.breadcrumb > li > a:hover .icon-remove {
	opacity: 1;
	filter: alpha(opacity:100);
}
/* lables , badges */
.label, .badge {
	padding: 4px;
	font-size: 12px;
	background-color: #585858;
	border-radius: 0;
}
.label-success, .badge-success {
	background-color: #008A17;
}
.label-warning, .badge-warning {
	background-color: #FF8F32;
}
.label-important, .badge-important {
	background-color: #E81123;
}
.label-info, .badge-info {
	background-color: #2E7EFC;
}
.label-inverse, .badge-inverse {
	background-color: #000;
}
label.error {
	color: #FF0000;
	font-size: 13px;
	margin: 5px 0 0;
}
.badge {
    border-radius: 100%;
    line-height: 0;
    min-height: 0;
    min-width: 0;
    padding: 10px 7px;
}
.badge-roundless {
	border-radius:0;
}
/* modal */
.modal .modal-dialog {
	padding-bottom: 0;
    padding-top: 0;
    width: auto;
}
.modal .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 1050;
}
.modal .modal-content {
	background-clip: none;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: 0 none;
    position: relative;
}
/* close-bread */
.close-bread {
	float: right;
}
.close-bread > a {
	color: #999999;
	display: block;
	font-size: 14px;
	margin: 4px 8px;
}
/* common */
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-border {
	border: 0 !important;
}
.no-border-left {
	border-left: 0 !important;
}
.no-border-right {
	border-right: 0 !important;
}
.no-border-top {
	border: 0 !important;
}
.no-border-bottom {
	border-bottom: 0 !important;
}
.no-wrap {
	white-space: nowrap !important;
}
.cursor-pointer {
	cursor: pointer !important;
}
.width-auto {
	width: auto !important;
}
.height-auto {
	height: auto !important;
}
.width-fluid {
	width: 100% !important;
}
.height-fluid {
	height: 100% !important;
}
.margin-5 {
	margin:5px !important;
}
.margin-left-5 {
	margin-left: 5px !important;
}
.margin-right-5 {
	margin-right: 5px !important;
}
.margin-top-5 {
	margin-top: 5px !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-10 {
	margin:10px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-right-10 {
	margin-right: 10px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.padding5 {
	padding:5px !important;
}
.padding5-left {
	padding-left: 5px !important;
}
.padding5-right {
	padding-right: 5px !important;
}
.padding5-top {
	padding-top: 5px !important;
}
.padding5-bottom {
	padding-bottom: 5px !important;
}
.padding10 {
	padding:10px !important;
}
.padding10-left {
	padding-left: 10px !important;
}
.padding10-right {
	padding-right: 10px !important;
}
.padding10-top {
	padding-top: 10px !important;
}
.padding10-bottom {
	padding-bottom: 10px !important;
}
/* header */
.header {
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 2;
	background: #2e7efc;
	margin-bottom: 0;
}
.header.navbar {
	border-radius: 0;
	box-shadow: none;
	min-height:44px;
}
.header h3, .header h4 {
	margin: 0;
	padding: 0;
}
.header .navbar-toggle {
	border:0;
}
.header .show-sidebar {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.header .navbar-brand {
	color: #fff;
	width: 210px;
	padding: 12px 15px 12px 0;
}
.header .navbar-text, .header .navbar-link {
	color: #fff;
}
.header .header-nav {
	 float:right;
}
.header .header-nav .icon-nav {
	float: right;
}
.header .header-nav .icon-nav > li {
	float: left;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
}
.header .header-nav .icon-nav > li > a {
	padding: 12px; color:#fff;
}
.header .header-nav .icon-nav > li > a i {
    color: #fff;
}
.header .header-nav .icon-nav > li > a:hover,.header .header-nav .icon-nav > li > a:focus {
	background: #0072bb !important;
	color: #fff !important;
}
.header .header-nav .icon-nav > li > .dropdown-menu {
    border: 2px solid #0072bb;
    margin-top: 0;
	border-top:0;
}
.header .navbar-header {
	 float:none !important;
}
/* footer */
.footer {
    font-size: 12px;
    padding: 8px 20px 5px;
}
.footer:after, .footer:before {
    content: "";
    display: table;
    line-height: 0;
}
.footer:after {
    clear: both;
}
.footer .footer-inner {
    color: #999999;
}
.footer .footer-inner {
    display: inline-block;
    float: left;
}
.footer .footer-tools {
    display: inline-block;
    float: right;
}
.footer .footer-tools .go-top {
    background-color: #4F4F4F;
}
.footer .footer-tools .go-top {
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: -2px;
    padding: 0 6px;
    text-decoration: none;
}
.footer .footer-tools .go-top i {
    color: #8A8A8A;
}
.footer .footer-tools .go-top i {
    font-size: 22px;
    margin-bottom: 5px;
}
.page-fluid .footer {
	background-color: #222222;
}
.page-footer-fixed .footer {
    background-color: #2E2E2E;
}
.page-footer-fixed .footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
}
/* page-content */
.page-content {
	background-color: #fff;
	position: relative;
	padding:15px;
}
/* page-sidebar */ 
.page-sidebar {
  background-color: #222222;
  overflow: visible !important;
}
.page-sidebar.navbar-collapse {
 max-height:none;
}
.page-sidebar.navbar-collapse.in {
	overflow:hidden;
}
.page-sidebar-menu > li > a {
  border-top: 1px solid #3c3c3c !important;
  color: #ffffff !important;
}
.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
.page-sidebar-menu > li a i {
  color: #969696;
}
.page-sidebar-menu > li.open > a,
.page-sidebar-menu > li > a:hover,
.page-sidebar-menu > li:hover > a {
  background: #303030;
}
.page-sidebar-menu > li.active > a {
  background: #2E7EFC !important;
  border-top-color: transparent !important;
  color: #ffffff;
}
.page-sidebar-menu > li.active > a i {
  color: #ffffff;
}
.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
.page-sidebar-menu > li > ul.sub-menu > li.active > a,
.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #575757 !important;
}
.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #575757 !important;
}
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #575757 !important;
}
.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #fff;
}
.page-sidebar-menu > li > a .arrow:before,
.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
.page-sidebar-menu > li.active > a .arrow:before,
.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
} 
/* page-sidebar toggler */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #222222 !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .sub-menu {
  background-color: #222222;
}
.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}
.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}
.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}
.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}
.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 8px;
  text-shadow:none; 
}
.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}
.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  
.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../img/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}
.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 1px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0;
  padding: 0; 
}
.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 40px !important;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}
.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}
.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}
.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}
.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}
.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}
.page-sidebar.navbar-collapse {
	padding-left:0;
	padding-right:0;
}
/* page-sidebar search */
.page-sidebar .sidebar-search {
    margin: 10px;
	width:auto;
}
.page-sidebar-closed .page-sidebar .sidebar-search .submit {  
	background: none repeat scroll 0 0 transparent;
    border-width: 0;
    color: #969696;
    font-size: 20px;
    padding: 9px;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {  
	background: none repeat scroll 0 0 #E6E6E6;
    border-width:1px;
    color: #000;
    font-size: 14px;
    padding: 6px 12px;
} 
/* page-sidebar toggler(show/hide) */
.page-sidebar .sidebar-toggler {
  cursor: pointer; 
  text-align:right;
  margin: 10px 10px 0 0;
  background-repeat: no-repeat;
  color:#fff;
}
/* page-sidebar-closed */
.page-sidebar-closed .sidebar-toggler {  
  text-align:center;
  margin-right:0;
  margin-left:0;
}
.page-sidebar-closed .page-sidebar .sidebar-search {  
   height: 52px;
   line-height: 48px;
   margin-bottom: 0 !important;
   margin-left: 0;
   margin-top: 0 !important;
   width: 29px;
}
.page-sidebar-closed .page-sidebar .sidebar-search input {
  display: none;
}
.page-sidebar-closed .page-sidebar .sidebar-search .input-box {
  border-bottom: 0 !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open {  
    height: 52px;
    line-height: 0;
    margin: 0 !important;
    overflow: hidden;
    padding: 10px 10px 10px 0 !important;
    position: relative;
    width: 255px;
    z-index: 2001;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open input {  
  display: inline-block !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {
  display: inline-block;
}
.page-sidebar-menu .sidebar-search .remove {
	display: none;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: table-cell;
    font-size: 20px;
	padding-top: 2px;
}
.page-sidebar-closed .page-sidebar-menu > li > a .selected {
  right: -3px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a > .title,
.page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
  display: none !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search {
  margin: 6px 0 6px 8px;
}
.page-sidebar-closed .page-sidebar .sidebar-search .remove {
   padding-left: 17px;
    padding-right: 17px;
}
.page-sidebar-closed .page-sidebar-menu {
  width: 50px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a {
  padding-left: 7px;
}
.page-sidebar-fixed.page-sidebar-closed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.page-sidebar-closed .page-sidebar-menu > li:hover {
  width: 251px !important;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .selected {
  display: none;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .title {
  display: inline !important;
}
.page-sidebar-closed .page-sidebar-menu > li > .sub-menu {
  display: none !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu {  
  width: 200px;
  position: absolute;
  z-index: 2000;
  left: 51px;
  margin-top: 0;
  top: 100%;
  display: block !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 200px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > a {
  padding-left: 15px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > a {  
  padding-left: 30px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > .sub-menu > li > a {  
  padding-left: 45px !important;
}
.page-sidebar-closed  .page-sidebar {
  width: 50px;
}
.page-sidebar-closed  .page-content {
  margin-left: 50px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a i {
	font-size: 20px;
    margin-left: 8px;
    margin-right: 0;
}
/* page-content */
.page-content {  
  margin-top: 0px;   
  background-color: #fff; 
}
.page-full-width .page-content {
    margin-left: 0px !important;
} 
/* page-header */
.page-header {
	margin: 15px 0;
	padding: 0;
	border: 0;
}
.page-header h1 {
	font-size: 28px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.page-header-fixed .page-container {
    margin-top: 44px;
}
/* login box */
.login-box {
	margin: 0 auto;
	margin-top: 150px;
	float: none;
}
.login-box .link {
	color: #1372CB;
}
/* pre */
pre {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius:0;
}
/* chart */
.chart {
	width: 100%;
}
.chart-small {
	height: 150px;
}
.chart-medium {
	height: 200px;
}
.chart-large {
	height: 300px;
}
.chart-tooltip {
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
	display: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.chart .button {
	position: absolute;
	cursor: pointer;
}
.chart div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
}
/* chat content */
.chat-content .media-heading {
	font-size: 15px;
}
.chat-content .media-body {
	font-size: 13px;
}
.chat-content .message-body {
	padding: 10px;
	position: relative;
}
.chat-content .message-body.left {
	margin-right: 8px;
}
.chat-content .message-body.right {
	margin-left: 8px;
}
.chat-content .message-body p {
	margin: 0;
}
.chat-content .message-body .arrow-left, .chat-content .message-body .arrow-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
}
.chat-content .message-body .arrow-left {
	border-right: 8px solid grey;
	left: -8px;
}
.chat-content .message-body .arrow-right {
	border-left: 8px solid grey;
	right: -8px;
}
.chat-send {
	margin-top: 20px;
}
/* input with left aligned icons */
.input-icon {
  position: relative;
}
.input-icon input {
   padding-left: 33px !important;
}
.input-icon i {
  color: #ccc;
  display: block;
  position: absolute;
  margin: 11px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.input-icon.right input {
   padding-left: 12px !important;
   padding-right: 33px !important;
}
.input-icon.right i {
   right: 8px;
   float: right;
}
.has-success .input-icon > i {
  color: #468847;
}
.has-warning .input-icon > i {
  color: #c09853;
}
.has-error .input-icon > i {
  color: #b94a48;
}
.has-error .form-control:focus {
	box-shadow: none;
}
/* tab */
.nav-tab-custom.nav-tabs > li > a:hover, .nav-tab-custom.nav-tabs > li > a:focus {
	background-color: #fff; border-color:#fff;  color:#333;
}
.nav-tab-custom.nav-tabs > li.active {
    border-top: 3px solid #D12610;
    margin-top: 0;
    position: relative;
}
.nav-tab-custom.nav-tabs > li.active > a {
	border-color:#d5d5d5;
	border-top:0; border-bottom-color:#fff;
	margin-right:0;
}
.nav-tab-custom.nav-tabs > li > a {
	color:#333;
}
.tab-content.padding {
	padding-top:15px;
}
.tab-content.border {
	border: 1px solid #DDDDDD;
	border-top:0;
}
/* form-actions */
.form-actions {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-bottom: 0;
	margin-left: -10px !important;
	margin-right: -10px !important;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 19px;
	*zoom: 1; 
}
.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}
.form-actions:after {
  clear: both;
}
/* settings */
.dropdown-menu.settings {
	width: 280px;
	padding-top: 20px;
}
/* responsive */
@media (min-width:768px) { 
	body {
		margin: 0px !important;
	}	
	/* page-content */
  	.page-content {
		min-height: 280px; 
  	}
	/* page-sidebar */
	.page-sidebar {
		margin: 0;
	}
	.page-sidebar.in {
		margin: 0;
		position: relative;
		z-index: 5;
	}
	.page-sidebar ul {
		margin-top:0px;
		width:100%;
	}
	.page-sidebar .selected {
		display: none !important;
	}
	/* page-sidebar */
	.page-sidebar .btn-navbar.collapsed .arrow { 
		display: none;
	}	
	.page-sidebar .btn-navbar .arrow {
	  position: absolute;
	  right: 25px;
	  width: 0; 
	  height: 0;
	  top:50px;
	  border-bottom: 15px solid #5f646b;
	  border-left: 15px solid transparent; 
	  border-right: 15px solid transparent; 
	}
	.header.navbar > .container .navbar-brand {
		margin-left:0;
	}
}
@media (min-width: 992px) { 
 	/* page-sidebar */
 	.page-sidebar {
		position: absolute;
 		width: 225px;
		height: 0 !important;
  	}
	.page-sidebar-fixed .page-sidebar {
	  	position: fixed !important;
	 	top: 41px;
	}
	.page-sidebar-fixed ul.page-sidebar-menu > li.last {
		margin-bottom: 15px !important;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar {
		z-index: 10000;		
		width: 50px;		
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar .selected {
		display: none;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-content {
		margin-left: 50px;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .footer {
		margin-left: 50px;
	}
	.page-sidebar-fixed .page-sidebar-closed .page-sidebar .sidebar-search .submit,
	.page-sidebar-fixed .page-sidebar .sidebar-toggler {
		-webkit-transition: all  0.2s ease;
	     -moz-transition: all  0.2s ease;
	       -o-transition: all  0.2s ease;
	          transition: all  0.2s ease;
	}
	.page-sidebar-hovering {
		overflow: hidden !important;
	}
	.page-sidebar-hovering .sub-menu,
	.page-sidebar-hovering span.title,
	.page-sidebar-hovering span.arrow {		  
		display: none !important;
	}
	.page-sidebar-hovering .submit {
		opacity: 0;
		width: 0 !important;
		height: 0 !important;
	}
  	/* page-content */
  	.page-content { 
  		margin-left: 225px; 
		margin-top: 0px;
		min-height: 760px; 
	}
	.page-sidebar-fixed .page-content {
		min-height: 600px; 
	}
	.page-content.no-min-height {
		min-height: auto;
	}
	/* fixed sidebar */
	.page-sidebar-fixed .footer {
	    background-color: #FFFFFF;
		padding-left: 235px;
	}
	.page-boxed.page-sidebar-fixed .footer {
		border-left: 1px solid #5E5E5E;
	} 
	.page-boxed.page-sidebar-fixed  .page-container {
		border-bottom: 0;
	}
	.page-sidebar-fixed .footer .footer-inner {
	   color: #333;
	}
	.page-sidebar-fixed.page-sidebar-closed .footer {
	  margin-left: 35px;
	}
	.page-sidebar-fixed .footer .footer-tools .go-top { 
	  background-color: #666;
	}
	.page-sidebar-fixed .footer .footer-tools .go-top i {
	  color: #ddd;
	}
	
}
@media (max-width: 768px) { 
	.header .navbar-header {
		 float: none !important;
	}
	.header .header-nav {
		background-color: #222222;
		float: none !important;
		margin-top: 40px;
	}
	.page-header-fixed .page-container {
		margin-top: 81px;
	}
	.header .header-nav:after,.header .header-nav:before {
		content: "";
		display: table;
		line-height: 0;
	}
	.header-nav .nav.navbar-icon{
		margin: 0 !important;
		padding: 0 !important;
	}
	.page-sidebar.navbar-collapse {
		margin-left:0;
		margin-right:0;
	}
	.header .container > .navbar-header,
	.header .container > .navbar-collapse {
		margin-right: -15px;
		margin-left: -15px;
	}
}
@media (max-width: 992px) { 
	.container {
		max-width: none;
		width: auto;
	}
	.header .navbar-header .navbar-toggle {
		display: block !important;
		float: right;
		margin: 5px 0 0;
	}
	.page-sidebar.navbar-collapse.collapse {
		display: none !important;
	}
	.page-sidebar .sidebar-toggler {
		display: none;
	}
}
@media (min-width:993px) { 
	.page-sidebar .sidebar-toggler {
		display: block;
	}
	.page-sidebar-menu > li > a {
		padding: 10px 15px;
	}
	.page-boxed .page-container {
		border-bottom: 1px solid #5E5E5E;
		border-left: 1px solid #5E5E5E;
	}
	.page-boxed.page-footer-fixed .footer {
		border-left: 1px solid #5E5E5E;
		border-right: 1px solid #5E5E5E;
	}
} 