@import "bs3-changes.css";
@import "tile.css";
body {
	background-color: #222222 !important;
}
.container {
	max-width: none;
	width: auto;
}
.close-bread {
	float: right;
}
.close-bread > a {
	color: #999999;
	display: block;
	font-size: 14px;
	margin: 4px 8px;
}
label.error {
	color: #FF0000;
	font-size: 13px;
	margin: 5px 0 0;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-border {
	border: 0 !important;
}
.no-wrap {
	white-space: nowrap !important;
}
.cursor-pointer {
	cursor: pointer !important;
}
.width-auto {
	width: auto !important;
}
.height-auto {
	height: auto !important;
}
.width-fluid {
	width: 100% !important;
}
.height-fluid {
	height: 100% !important;
}
/* cutter */
.cutter-left {
	margin-left: 10px;
}
.cutter-right {
	margin-right: 10px;
}
.cutter-top {
	margin-top: 10px;
}
.cutter-bottom {
	margin-bottom: 10px;
}
/* header */
.header {
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	z-index: 2;
	background: #2e7efc;
	margin-bottom: 0;
}
.header.navbar {
	min-height: 0;
	border-radius: 0;
	box-shadow: none;
}
.header h3, .header h4 {
	margin: 0;
	padding: 0;
}
.header .navbar-toggle {
	border:0;
}
.header .show-sidebar {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.header .navbar-brand {
	color: #fff;
	width: 210px;
	padding: 10px 15px;
}
.header .navbar-text, .header .navbar-link {
	color: #fff;
}
/* footer */
.footer {
    font-size: 12px;
    padding: 8px 20px 5px;
}
.footer:after, .footer:before {
    content: "";
    display: table;
    line-height: 0;
}
.footer:after {
    clear: both;
}
.footer .footer-inner {
    color: #999999;
}
.footer .footer-inner {
    display: inline-block;
    float: left;
}
.footer .footer-tools {
    display: inline-block;
    float: right;
}
.footer .footer-tools .go-top {
    background-color: #4F4F4F;
}
.footer .footer-tools .go-top {
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: -2px;
    padding: 0 6px;
    text-decoration: none;
}
.footer .footer-tools .go-top i {
    color: #8A8A8A;
}
.footer .footer-tools .go-top i {
    font-size: 22px;
    margin-bottom: 5px;
}
/* page-content */
.page-content {
	background-color: #fff;
	position: relative;
	margin-top: 10px;
	padding-left: 15px;
    padding-right: 15px;
	padding-bottom: 15px;
}
/* page-sidebar */ 
.page-sidebar {
  background-color: #222222;
  overflow: visible !important;
}
.page-sidebar.navbar-collapse {
 max-height:none;
}
.page-sidebar.navbar-collapse.in {
	overflow:hidden;
}
.page-sidebar-menu > li > a {
  border-top: 1px solid #3c3c3c !important;
  color: #ffffff !important;
}
.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
.page-sidebar-menu > li a i {
  color: #969696;
}
.page-sidebar-menu > li.open > a,
.page-sidebar-menu > li > a:hover,
.page-sidebar-menu > li:hover > a {
  background: #303030;
}
.page-sidebar-menu > li.active > a {
  background: #2E7EFC !important;
  border-top-color: transparent !important;
  color: #ffffff;
}
.page-sidebar-menu > li.active > a i {
  color: #ffffff;
}
.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
.page-sidebar-menu > li > ul.sub-menu > li.active > a,
.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #575757 !important;
}
.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #575757 !important;
}
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #575757 !important;
}
.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #fff;
}
.page-sidebar-menu > li > a .arrow:before,
.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
.page-sidebar-menu > li.active > a .arrow:before,
.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
} 
/* page-sidebar toggler */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #222222 !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .sub-menu {
  background-color: #222222;
}
.ie8 .page-sidebar {
  position: absolute;
  width: 225px;
}
.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}
.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}
.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}
.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}
.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 8px;
  text-shadow:none; 
}
.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}
.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  
.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../img/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}
.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 1px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
  padding: 0; 
}
.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 40px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}
.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}
.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}
.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}
.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}
.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}
.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}
.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}
.page-sidebar.navbar-collapse {
	padding-left:0;
	padding-right:0;
}
/* sidebar search */
.page-sidebar .sidebar-search {
  margin: 8px 20px 20px 20px;
}
.page-sidebar-closed .page-sidebar .sidebar-search .submit {  
	background: none repeat scroll 0 0 transparent;
    border-width: 0;
    color: #969696;
    font-size: 20px;
    padding: 9px;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {  
	background: none repeat scroll 0 0 #E6E6E6;
    border-width:1px;
    color: #000;
    font-size: 14px;
    padding: 6px 12px;
} 
/* page-sidebar toggler(show/hide) */
.page-sidebar .sidebar-toggler {
  cursor: pointer; 
  margin-top: 8px;
  margin-left: 168px;
  background-repeat: no-repeat;
  color:#fff;
}
/* page-sidebar-closed */
.page-sidebar-closed .sidebar-toggler {  
  margin-left: 3px;
}
.page-sidebar-closed .sidebar-toggler .icon-metro-back.white {
    background-image: url(../img/metro/next-white.png);
}
.page-sidebar-closed .page-sidebar .sidebar-search {  
   height: 52px;
   line-height: 48px;
   margin-bottom: 0 !important;
   margin-left: 0;
   margin-top: 0 !important;
   width: 29px;
}
.page-sidebar-closed .page-sidebar .sidebar-search input {
  display: none;
}
.page-sidebar-closed .page-sidebar .sidebar-search .input-box {
  border-bottom: 0 !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open {  
    height: 52px;
    line-height: 0;
    margin: 0 !important;
    overflow: hidden;
    padding: 10px 10px 10px 0 !important;
    position: relative;
    width: 255px;
    z-index: 2001;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open input {  
  display: inline-block !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {
  display: inline-block;
}
.page-sidebar-menu .sidebar-search .remove {
	display: none;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: table-cell;
    font-size: 20px;
	padding-top: 2px;
}
.page-sidebar-closed .page-sidebar-menu > li > a .selected {
  right: -3px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a > .title,
.page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
  display: none !important;
}
.page-sidebar-closed .sidebar-toggler {
  margin-right: 3px;
}
.page-sidebar-closed .page-sidebar .sidebar-search {
  margin: 6px 0 6px 8px;
}
.page-sidebar-closed .page-sidebar .sidebar-search .remove {
   padding-left: 17px;
    padding-right: 17px;
}
.page-sidebar-closed .page-sidebar-menu {
  width: 50px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a {
  padding-left: 7px;
}
.page-sidebar-fixed.page-sidebar-closed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.page-sidebar-closed .page-sidebar-menu > li:hover {
  width: 251px !important;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .selected {
  display: none;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .title {
  display: inline !important;
}
.page-sidebar-closed .page-sidebar-menu > li > .sub-menu {
  display: none !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu {  
  width: 200px;
  position: absolute;
  z-index: 2000;
  left: 51px;
  margin-top: 0;
  top: 100%;
  display: block !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 200px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > a {
  padding-left: 15px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > a {  
  padding-left: 30px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > .sub-menu > li > a {  
  padding-left: 45px !important;
}
.page-sidebar-closed  .page-sidebar {
  width: 50px;
}
.page-sidebar-closed  .page-content {
  margin-left: 50px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a i {
	font-size: 20px;
    margin-left: 8px;
    margin-right: 0;
}
/* page-content */
.page-content {  
  margin-top: 0px;   
  background-color: #fff; 
}
.ie8 .page-content { 
    margin-left: 225px; 
    margin-top: 0px;
    min-height: 760px;
}
.ie8 .page-sidebar-fixed .page-content {
    min-height: 600px; 
}
.ie8 .page-content.no-min-height {
    min-height: auto;
}
.page-full-width .page-content {
    margin-left: 0px !important;
}
/* user-info */
.user-box .dropdown-menu {
	padding: 15px !important;
	margin: 0 !important;
}
.user-photo {
	float: left;
	height: 96px;
	margin: 0 15px 0 0;
	overflow: hidden;
	text-align: center;
	width: 96px;
}
.user-info {
	color: #000333;
	float: left;
	margin: 0;
}
.user-info ul {
	margin: 0;
	padding: 0;
}
.user-info ul li {
	display: inline;
	list-style: none outside none;
	margin: 0 30px 0 0;
	padding: 0;
}
.user-info > img {
	float: left;
	display: inline-block;
}
.user-box > a > img {
	display: inline-block;
	margin-right: 10px;
}
.user-box > a > span {
	display: inline-block;
}
.navbar-icon {
	margin-right: 0px !important;
	margin-left: 20px !important;
}
.navbar-icon li {
	float: left;
}
.navbar-icon li.dropdown .dropdown-toggle:hover, .navbar-icon li.dropdown .dropdown-toggle:focus {
	background: #000 !important;
}
.navbar-icon li a.link {
	color: #FFFFFF !important;
	float: left;
	margin: 0 !important;
	line-height: 20px;
	padding: 10px 15px !important;
}
.navbar-icon li a.link:hover, .navbar-icon li a.link:focus, .navbar-icon li a.link:active, .navbar-icon li a.link.active, .navbar-icon li a.link.disabled, .navbar-icon li a.link[disabled] {
	background: #000 !important;
	color: #fff !important;
	outline: none !important;
}
.navbar-icon .dropdown-menu {
	border: 2px solid #2E7EFC;
	border-top: 0;
}
.navbar-icon .dropdown-toggle {
	color: #fff !important;
	padding: 6px !important;
}
/* page-header */
.page-header {
	margin: 20px 0;
	padding: 0;
	border: 0;
}
.page-header h1 {
	font-size: 28px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
/* login box */
.login-box {
	margin: 0 auto;
	margin-top: 150px;
	float: none;
}
.login-box .link {
	color: #1372CB;
}
/* pre */
pre {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* chart */
.chart {
	width: 100%;
}
.chart-small {
	height: 150px;
}
.chart-medium {
	height: 200px;
}
.chart-large {
	height: 300px;
}
.chart-tooltip {
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
	display: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.chart .button {
	position: absolute;
	cursor: pointer;
}
.chart div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
}
/* popover confirm */
.popover-confirm-btn {
	margin-right: 10px;
}
/* chat content */
.chat-content .media-heading {
	font-size: 15px;
}
.chat-content .media-body {
	font-size: 13px;
}
.chat-content .message-body {
	padding: 10px;
	position: relative;
}
.chat-content .message-body.left {
	margin-right: 8px;
}
.chat-content .message-body.right {
	margin-left: 8px;
}
.chat-content .message-body p {
	margin: 0;
}
.chat-content .message-body .arrow-left, .chat-content .message-body .arrow-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
}
.chat-content .message-body .arrow-left {
	border-right: 8px solid grey;
	left: -8px;
}
.chat-content .message-body .arrow-right {
	border-left: 8px solid grey;
	right: -8px;
}
.chat-send {
	margin-top: 20px;
}
/* table */
.table thead > tr > th {
	border-bottom: 0;
}
/* responsive */
@media (min-width: 980px) and (max-width: 1280px) {  
}
@media (min-width: 980px) { 
 	/* page-sidebar */
 	.page-sidebar {
		position: absolute;
 		width: 225px;
		height: 0 !important;
  	}
	.page-sidebar-fixed .page-sidebar {
	  	position: fixed !important;
	 	top: 41px;
	}
	.page-sidebar-fixed ul.page-sidebar-menu > li.last {
		margin-bottom: 15px !important;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar {
		z-index: 10000;		
		width: 50px;		
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar .selected {
		display: none;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .page-content {
		margin-left: 50px;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .footer {
		margin-left: 50px;
	}
	.page-sidebar-fixed .page-sidebar-closed .page-sidebar .sidebar-search .submit,
	.page-sidebar-fixed .page-sidebar .sidebar-toggler {
		-webkit-transition: all  0.2s ease;
	     -moz-transition: all  0.2s ease;
	       -o-transition: all  0.2s ease;
	          transition: all  0.2s ease;
	}
	.page-sidebar-hovering {
		overflow: hidden !important;
	}
	.page-sidebar-hovering .sub-menu,
	.page-sidebar-hovering span.title,
	.page-sidebar-hovering span.arrow {		  
		display: none !important;
	}
	.page-sidebar-hovering .submit {
		opacity: 0;
		width: 0 !important;
		height: 0 !important;
	}
  	/* page-content */
  	.page-content { 
  		margin-left: 225px; 
		margin-top: 0px;
		min-height: 760px; 
	}
	.page-sidebar-fixed .page-content {
		min-height: 600px; 
	}
	.page-content.no-min-height {
		min-height: auto;
	}
	/* fixed sidebar */
	.page-sidebar-fixed .footer {
	  margin-left: 225px;
	  background-color: #fff;
	}
	.page-sidebar-fixed .footer .footer-inner {
	  color: #333;
	}
	.page-sidebar-fixed.page-sidebar-closed .footer {
	  margin-left: 35px;
	}
	.page-sidebar-fixed .footer .footer-tools .go-top { 
	  background-color: #666;
	}
	.page-sidebar-fixed .footer .footer-tools .go-top i {
	  color: #ddd;
	}
}
@media (max-width:979px) { 
	body {
		margin: 0px !important;
	}	
	/* page-container */
	.page-container {
		margin: 0 !important;
		padding: 0 !important;
	}
	.page-header-fixed .page-container {
		margin-top: 0px !important;
	}
	/* page-content */
  	.page-content {
  		margin: 0px !important;
		min-height: 280px; 
  	}
	/* page-sidebar */
	.page-sidebar {
		margin: 0;
	}
	.page-sidebar.in {
		margin: 0;
		position: relative;
		z-index: 5;
	}
	.page-sidebar .sidebar-toggler {
		display: none;
	}
	.page-sidebar ul {
		margin-top:0px;
		width:100%;
	}
	.page-sidebar .selected {
		display: none !important;
	}
	.page-sidebar .sidebar-search {
	  width: auto;
	  margin-top: 20px;
	  margin-bottom:20px;
	}
}
@media (min-width: 768px) and (max-width: 1280px) { 
} 
@media (min-width: 768px) and (max-width: 979px) { 
	/* page-sidebar */
	.page-sidebar .btn-navbar.collapsed .arrow { 
		display: none;
	}	
	.page-sidebar .btn-navbar .arrow {
	  position: absolute;
	  right: 25px;
	  width: 0; 
	  height: 0;
	  top:50px;
	  border-bottom: 15px solid #5f646b;
	  border-left: 15px solid transparent; 
	  border-right: 15px solid transparent; 
	}
} 
@media (max-width: 767px) { 
}
@media (max-width: 480px) {
  	/* page-sidebar */
	.page-sidebar.in {
		margin-top: 7px !important;
	}
}
@media (max-width: 320px) {
}	