body {
    margin-top: 80px;
}
.login-panel {
    width: 320px;
    margin: 0 auto;
}
.login-panel .panel-heading {
    padding: 15px 20px;
}
.login-panel .panel-heading .panel-title {
    font-size: 20px;
}
.login-panel .panel-body {
    padding: 20px 20px 0 20px;
}
.login-panel .form-group.social {
    margin-bottom: 10px;
}
.login-panel .social > a {
    display: inline-block;
    margin-left: 10px;
}
